{% extends 'kookmingohomepage/layout.html' %}
{% block background %}

{% endblock %}

{% block content %}

    <div class="container">
        <form action="." method="post">
            {% csrf_token %}

            {% if form.errors %}
            <p>에러가 발생하였습니다.</p>
            {% endif %}

        <fieldset>
            <div>
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>
            <div>
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            </div>
            <div>
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            </div>
        </fieldset>
        <div>
            <button class="btn btn-danger" type="submit">완료</button>
        </div>

        <script>
            document.getElementsById("id_old_passwrod").focus();
        </script>
        </form>
    </div>
{% endblock %}